# Dependency directories
node_modules/
package-lock.json

# Tailwind Config
tailwind.config.js

# dotenv enviroment variable file
.env
config/.env

# IDE
.idea/
.vscode/

# Aider files
.aider*

# Docker
postgres_data/
