
# Dependency directories
node_modules/
package-lock.json

# Tailwind Config
config/tailwind.config.js

# dotenv enviroment variable file
config/.env

# IDE
.idea/
.vscode/

# Scratch files
tests/SCRATCH.md