
# Dependency directories
node_modules/
package-lock.json

# Tailwind Config
tailwind.config.js

# dotenv enviroment variable file
config/.env

# IDE
.idea/
.vscode/

# Scratch files
tests/migration.md

# Shell files
tests/openTunnel.sh

# Load test
tests/loadTest.js