<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link
            rel="shortcut icon"
            type="x-icon"
            href="../images/orthodoxcanonlogoNEW.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <script src="/scripts/darkModeToggle.js" defer></script>
    <script src="/scripts/hamburgerMenu.js" defer></script>
    <script src="/scripts/darkModeToggle.js" defer></script>
    <link rel="stylesheet" href="../css/output.css" />
</head>

<body class="bg-[#e9eef1] text-lg dark:bg-[#202124] dark:text-[#d9dde0] text-gray-800">
    <%- include('partials/navBar') %>

<main>

    <div>
        <h1 class="nodeTitleH1 nodeMargins">About Me and this website.</h1>
        <div class="nodeInsideDiv nodeMargins lg:flex lg:justify-center flex-row items-center">

            <div class="flex justify-center mx-auto w-52 sm:w-60 md:w-72 lg:w-full xl:w-full 2xl:w-96">
                <div class="p-5">
                    <img src="../images/profilePic.png" alt="profile picture" class="shadow-2xl">
                </div>
            </div>

            <div class="mx-5 p-5">
                <span>My name is Nicolas, this is my first website. I've been making this since November 2023. My original intention was to just make a personal note-taking bible app, but quickly became an opportunity to share very first online english orthodox bible in the world.</span>
                <br><br>
                <span>This website uses the Brenton's English Septuagint 2012 Edition for the old testament, And the Byzantine Text for the new testament. These translations are in the public domain.</span>
                <br><br>
                <span>You can contact me on either <a class="text-blue-500 dark:text-yellow-400" target="_blank" href="https://github.com/L1LSM0K13">GitHub</a>
            or my email at <span class="text-blue-500 dark:text-yellow-400"><a href="mailto:ancientbible@purelymail.com">ancientbible@purelymail.com</a></span></span>
                <br><br><br>
                <hr>
                <span class="text-sm">For information regarding the 2012 Brenton Septuagint click <a class="text-blue-500 dark:text-yellow-400" href="https://ebible.org/find/show.php?id=eng-lxx2012" target="_blank">Here</a></span>
                <br>
                <span class="text-sm">For information regarding the Byzantine Text click <a class="text-blue-500 dark:text-yellow-400" href="https://ebible.org/find/details.php?id=engasvbt" target="_blank">Here</a></span>

            </div>
        </div>
    </div>

</main>

<div class="hidden">
        <img
                class="sunDisabled cursor-pointer justify-center"
                src="../images/brightness-high.svg"
                alt="BrightModeDisabled" />
        <img
                class="sunEnabled cursor-pointer justify-center"
                src="../images/brightness-high-fill.svg"
                alt="BrightModeEnabled" />
    </div>

</body>
</html>
