<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="x-icon" href="../public/images/orthodoxcanonlogoNEW.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <script src="/scripts/darkModeToggle.js" defer></script>
		<link rel="stylesheet" href="/css/output.css" />
  </head>

  <body class="bg-[#e9eef1] dark:bg-[#202124] dark:text-[#d9dde0]">
		<header class="sticky top-0 text-md sm:text-lg mb-5">
      <nav class="bg-[#51688e] dark:bg-[#303134] border border-[#355488] dark:border-[#474747] p-2 flex">
        <a href="/">
          <img class="w-14" src="../public/images/orthodoxcanonlogoNEW.png" alt="icon">
        </a>

        <ul class="flex items-center p-1 ">
          <li><a class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] p-2 mx-1 rounded-md" href="/">Home</a></li>
          <li><a class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] p-2 mx-1 rounded-md" href="/users/bible">Bible</a></li>
          <li><a class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] p-2 mx-1 rounded-md" href="/users/fathers">Fathers (Coming Soon)</a></li>
        </ul>

        <ul class="flex items-center p-1 grow justify-end">
					<li class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] py-1 px-2 mx-1 rounded-md"><a href="/users/logout">Dashboard</a></li>

          <li>
						<img
							class="sunDisabled cursor-pointer justify-center"
							src="../public/images/brightness-high.svg"
							alt="BrightModeDisabled" />
					</li>
          <li>
						<img
            class="sunEnabled cursor-pointer justify-center"
            src="../public/images/brightness-high-fill.svg"
            alt="BrightModeEnabled">
					</li>
        </ul>
      </nav>
		</header>

    <main class="text-lg">
      <!-- Logo -->
      <div class="flex justify-center">
      <img src="../public/images/orthodoxcanonlogo.png" alt="Orthodox Logo" class="w-1/2 sm:w-1/3 md:1/2 lg:w-1/4">
      </div>

      <article>


				<h1 class="nodeTitleH1">Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>

        <div class="nodeMargins shadow-xl">
            <h1 class="nodeTitleH1">About Orthodox Canon</h1>
            <p class="nodeInsideDiv mb-5">
              This is a Bible website that contains all books of the typical
              Orthodox canon, as well as other non canonical writings, gnostic
              texts, the local and ecumenical councils, and the writings of the early church fathers. This
              website is a work in progress so I will be adding more
              content to expand the library. This website will also eventually
              have a fully customizable bible layout with note taking.
            </p>
          </div>

          <div class="nodeMargins shadow-xl">
            <h1 class="nodeTitleH1">Whats included</h1>
            <div class="nodeInsideDiv mb-5 pb-5">

              <div>
                <p class="text-center">This website contains the extended canon of the Orthodox Church, for those who do not know this canon:</p>
              </div>

                <!-- List of Deuterocanonical books table -->
                <div class="sm:flex justify-center gap-5">
                  <div class="sm:w-1/4">
                    <div class="mt-5 nodeTitleH1">List of the Deuterocanon</div>
                    <div class="nodeInsideDiv">
                      <p>Tobit</p>
                      <p>Judith</p>
                      <p>1 Maccabees</p>
                      <p>2 Maccabees</p>
                      <p>3 Maccabees</p>
                      <p>4 Maccabees</p>
                      <p>Wisdom of Solomon</p>
                      <p>Wisdom of Sirach</p>
                      <p>Baruch</p>
                      <p>Epistle of Jeremiah</p>
                      <p>1 Ezra</p>
                      <p>2 Ezra (Ezra)</p>
                    </div>
                  </div>

                  <!-- List of Additions to the protocanon table -->
                  <div class="sm:w-1/4">
                    <div class="mt-5 nodeTitleH1">Additions to these books:</div>
                    <div class="nodeInsideDiv">
                      <p>Esther</p>
                      <p>Daniel</p>
                      <p>Psalm 151</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </article>
    </main>

    <footer class="text-lg">
      <!-- Updates Node -->
      <div class="flex justify-center">
        <div class="nodeMargins">
          <h1 class="nodeTitleH1">Whats New to Orthodox Canon?</h1>
          <div class="nodeInsideDiv mb-5 shadow-xl">
            <div>
              <ul>
                <li>Orthodox Canon.org (beta v1.2) 3/31/24</li>
                <li>You can now close your tab, and have the book where you left off loaded back.</li>
                <br>

                <li>Orthodox Canon.org (beta v1.11) 3/23/24</li>
                <li>This website will go on hiatus for a while, stay tuned!</li>
                <br>

                <li>Orthodox Canon.org (beta v1.1) 3/2/24</li>
                <li>+ New translation (2012 Brenton Septuigant and Byzantine text for New Testament.)</li>
                <li class="text-red-600 dark:text-red-500">+ Red Lettering added.</li>
                <li>+ Improvements to hover highlights.</li>
                <br>

                <li>Orthodox Canon.org (beta v1.0) 2/3/2024</li>
                <li>+ Added a toggle to dark mode.</li>
                <li>+ Added a small highlight when hovering over the verses.</li>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>


  </body>
</html>
