<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link
			rel="shortcut icon"
			type="x-icon"
			href="../images/orthodoxcanonlogoNEW.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Bible</title>
	<link rel="stylesheet" href="../css/output.css" />

	<script src="/scripts/darkModeToggle.js" defer></script>
	<script src="/scripts/hamburgerMenu.js" defer></script>
	<script src="/scripts/newFathersFunction.js" defer></script>
	<script src="/scripts/churchFathersFormattingOptions.js" defer></script>
</head>
<body
		class="bg-[#e9eef1] text-lg dark:bg-[#202124] dark:text-[#d9dde0] text-gray-800">
<%- include('partials/navBar')  %>

<main class="grid grid-cols-4 grid-rows-1 gap-5 nodeMargins">
	<article class="xl:col-start-1 xl:col-span-1 sm:col-start-2 sm:col-span-2 col-start-1 col-span-full">
		<h1 class="nodeTitleH1">Navigate</h1>
		<%- include('./partials/bookAndChapterFathers') %>
		<%- include('./partials/formatterFathers') %>
	</article>
	<!-- Book Text -->
	<div class="xl:col-start-2 col-span-full row-start-2 col-start-1 xl:col-span-3 xl:row-start-1">
		<h1 class="nodeTitleH1" id="bookTitle"></h1>
		<div class="text-lg">
			<div id="vCont" class="nodeInsideDiv px-5"></div>
		</div>
	</div>

	<div class="hidden">
		<img
				class="sunDisabled cursor-pointer justify-center"
				src="../images/brightness-high.svg"
				alt="BrightModeDisabled" />
		<img
				class="sunEnabled cursor-pointer justify-center"
				src="../images/brightness-high-fill.svg"
				alt="BrightModeEnabled" />
	</div>

</main>

</body>
</html>
