<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="x-icon" href="../public/images/orthodoxcanonlogoNEW.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <script src="/scripts/darkModeToggle.js" defer></script>
		<link rel="stylesheet" href="css/output.css" />
  </head>

  <body class="bg-[#e9eef1] dark:bg-[#202124] dark:text-[#d9dde0]">

    <%- include('partials/navBar')  %>

    <main class="text-lg">
      <!-- Logo -->
      <div class="flex justify-center">
      <img src="../images/orthodoxcanonlogo.png" alt="Orthodox Logo" class="w-1/2 sm:w-1/3 md:1/2 lg:w-1/4">
      </div>

      <article>

        <div class="nodeMargins shadow-xl">
            <h1 class="nodeTitleH1">About Orthodox Canon</h1>
            <p class="nodeInsideDiv mb-5">
              This is a Bible website that contains all books of the typical
              Orthodox canon, as well as other non canonical writings, gnostic
              texts, the local and ecumenical councils, and the writings of the early church fathers. This
              website is a work in progress so I will be adding more
              content to expand the library. This website will also eventually
              have a fully customizable bible layout with note taking.
            </p>
          </div>

          <div class="nodeMargins shadow-xl">
            <h1 class="nodeTitleH1">Whats included</h1>
            <div class="nodeInsideDiv mb-5 pb-5">

              <div>
                <p class="text-center">This website contains the extended canon of the Orthodox Church, for those who do not know this canon:</p>
              </div>

                <!-- List of Deuterocanonical books table -->
                <div class="sm:flex justify-center gap-5">
                  <div class="sm:w-1/4">
                    <div class="mt-5 nodeTitleH1">List of the Deuterocanon</div>
                    <div class="nodeInsideDiv">
                      <p>Tobit</p>
                      <p>Judith</p>
                      <p>1 Maccabees</p>
                      <p>2 Maccabees</p>
                      <p>3 Maccabees</p>
                      <p>4 Maccabees</p>
                      <p>Wisdom of Solomon</p>
                      <p>Wisdom of Sirach</p>
                      <p>Baruch</p>
                      <p>Epistle of Jeremiah</p>
                      <p>1 Ezra</p>
                      <p>2 Ezra (Ezra)</p>
                    </div>
                  </div>

                  <!-- List of Additions to the protocanon table -->
                  <div class="sm:w-1/4">
                    <div class="mt-5 nodeTitleH1">Additions to these books:</div>
                    <div class="nodeInsideDiv">
                      <p>Esther</p>
                      <p>Daniel</p>
                      <p>Psalm 151</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </article>
    </main>

    <footer class="text-lg">
      <!-- Updates Node -->
      <%- include('partials/whatsNew') %>

    </footer>

  </body>
</html>
