<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/output.css" />

		<script src="/scripts/darkModeToggle.js" defer></script>
		<title>Login</title>
	</head>
	<body></body>
</html>

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<links
			rel="shortcut icon"
			type="x-icon"
			href="/public/images/orthodoxcanonlogoNEW.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>

		<script src="/scripts/darkModeToggle.js" defer></script>
		<link rel="stylesheet" href="/css/output.css" />
	</head>

	<body
		class="bg-[#e9eef1] sm:text-lg text-sm dark:bg-[#202124] dark:text-[#d9dde0] text-gray-800">
		<header class="sticky top-0 text-md sm:text-lg mb-5">
			<nav
				class="bg-[#51688e] dark:bg-[#303134] border border-[#355488] dark:border-[#474747] p-2 flex">
				<a href="/">
					<img
						class="w-14"
						src="../images/orthodoxcanonlogoNEW.png"
						alt="icon" />
				</a>

				<ul class="flex items-center p-1">
					<li>
						<a
							class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] p-2 mx-1 rounded-md"
							href="/"
							>Home</a
						>
					</li>
					<li>
						<a
							class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] p-2 mx-1 rounded-md"
							href="/users/bible"
							>Bible</a
						>
					</li>
					<li>
						<a
							class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] p-2 mx-1 rounded-md"
							href="/users/fathers"
							>Fathers</a
						>
					</li>
				</ul>

				<ul class="flex items-center p-1 grow justify-end">
					<li class="">
						<a
							class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] p-2 mx-1 rounded-md"
							href="/users/login"
							>Login or Sign Up</a
						>
					</li>
					<li>
						<img
							class="sunDisabled cursor-pointer justify-center"
							src="../images/brightness-high.svg"
							alt="BrightModeDisabled" />
					</li>
					<li>
						<img
							class="sunEnabled cursor-pointer justify-center hidden"
							src="../images/brightness-high-fill.svg"
							alt="BrightModeEnabled" />
					</li>
				</ul>
			</nav>
		</header>

		<main>
			<ul class="successMsg">
				<% if(messages.success_msg) { %>
				<li><%= messages.success_msg %></li>
				<% } %>
			</ul>

			<ul class="errorMsg">
				<% if(messages.error) { %>
				<li><%= messages.error %></li>
				<% } %>
			</ul>

			<h1 class="nodeTitleH1 nodeMargins">Login</h1>
			<div class="nodeInsideDiv nodeMargins">
				<form action="/users/login" method="POST">
					<div class="m-4">
						<input
							class="input"
							type="email"
							id="email"
							name="email"
							placeholder="Email"
							required />
					</div>
					<div class="m-4">
						<input
							class="input"
							type="password"
							id="password"
							name="password"
							placeholder="Password"
							required />
					</div>
					<div class="m-4">
						<input type="submit" value="Login" class="input" />
					</div>
					<p class="m-4">
						Dont have an Account? Sign up
						<a class="text-blue-600" href="/users/register">Here</a>
					</p>
				</form>
			</div>
		</main>
	</body>
</html>
