<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="shortcut icon"
			type="x-icon"
			href="../images/orthodoxcanonlogoNEW.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>

		<script src="/scripts/hamburgerMenu.js" defer></script>
		<script src="/scripts/darkModeToggle.js" defer></script>
		<link rel="stylesheet" href="../css/output.css" />
	</head>

	<body
		class="bg-[#e9eef1] text-lg dark:bg-[#202124] dark:text-[#d9dde0] text-gray-800">
		<%- include('partials/navBar') %>

		<main>
			<ul>
				<% if(messages.success_msg) { %>
				<li class="successMsg"><%= messages.success_msg %></li>
				<% } %>
			</ul>
			<ul>
				<% if(messages.error) { %>
				<li class="errorMsg"><%= messages.error %></li>
				<% } %>
			</ul>

			<h1 class="nodeTitleH1 nodeMargins">Login</h1>
			<div class="nodeInsideDiv nodeMargins flex justify-center">
				<form action="/users/login" method="POST">
					<div class="m-4">

						<div class="flex flex-col justify-center">
							<input
									class="input mb-2"
									type="email"
									id="email"
									name="email"
									placeholder="Email"
									required />

							<input
									class="input mb-2"
									type="password"
									id="password"
									name="password"
									placeholder="Password"
									required />
						</div>

						<div class="flex justify-between items-baseline">
							<span class="text-sm">Forgot <a href="/users/resetPassword" class="text-blue-600 dark:text-yellow-500 underline">password?</a></span>
							<input type="submit" value="Login" class="input" />
						</div>
					</div>

					<p class="m-4">Don't have an Account? Sign up <a class="text-blue-600 dark:text-yellow-500" href="/users/register">Here</a></p>
				</form>
			</div>
		</main>

		<div class="hidden">
			<img
					class="sunDisabled cursor-pointer justify-center"
					src="../images/brightness-high.svg"
					alt="BrightModeDisabled" />
			<img
					class="sunEnabled cursor-pointer justify-center"
					src="../images/brightness-high-fill.svg"
					alt="BrightModeEnabled" />
		</div>

	</body>
</html>
