<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<%= errors %>
		<form action="/notes" method="POST">
			<label for="noteText" id="noteText" name="noteText" required></label>
			<input type="text" id="text" name="noteText" placeholder="insert text" />
			<input type="submit" value="text" />
		</form>
	</body>
</html>
