<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="shortcut icon"
			type="x-icon"
			href="../images/orthodoxcanonlogoNEW.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Register</title>
		<link rel="stylesheet" href="../css/output.css" />

		<script src="/scripts/hamburgerMenu.js" defer></script>
		<script src="/scripts/darkModeToggle.js" defer></script>
	</head>

	<body
		class="bg-[#ffd7a9] text-lg dark:bg-[#202124] dark:text-[#d9dde0] text-[#161616]">
		<%- include('partials/navBar') %>
		<%- include('partials/errorHandler') %>

		<h1 class="nodeTitleH1 nodeMargins">Sign Up</h1>
		<div class="nodeInsideDiv nodeMargins">
			<form action="/users/register" method="POST" class="text-center">
				<div class="m-4">
					<input
						class="input"
						type="text"
						id="name"
						name="name"
						placeholder="Name"
						value="<%= typeof name != 'undefined' ? name : '' %>"
						required />
				</div>
				<div class="m-4">
					<input
						class="input"
						type="email"
						id="email"
						name="email"
						placeholder="Email"
						value="<%= typeof email != 'undefined' ? email : '' %>"
						required />
				</div>
				<div class="m-4">
					<input
						class="input"
						type="password"
						id="password"
						name="password"
						placeholder="Password"
						required />
				</div>
				<div class="m-4">
					<input
						class="input"
						type="password"
						id="password2"
						name="password2"
						placeholder="Confirm password"
						required />
				</div>
				<div class="m-4">
					<input type="submit" value="Register" class="input" />
				</div>
				<p class="m-4">
					Already have an account? Log in
					<a class="text-blue-600" href="/users/login">Here</a>
				</p>
			</form>
		</div>

		<div class="hidden">
			<img
					class="sunDisabled cursor-pointer justify-center"
					src="../images/svgs/brightness-high.svg"
					alt="BrightModeDisabled" />
			<img
					class="sunEnabled cursor-pointer justify-center"
					src="../images/svgs/brightness-high-fill.svg"
					alt="BrightModeEnabled" />
		</div>

	</body>
</html>
