<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="shortcut icon"
			type="x-icon"
			href="../images/orthodoxcanonlogoNEW.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bible</title>
		<link rel="stylesheet" href="../css/output.css" />

		<script src="/scripts/darkModeToggle.js" defer></script>
		<script src="/scripts/hamburgerMenu.js" defer></script>
		<script src="/scripts/newBibleFunction.js" defer></script>
		<script src="/scripts/bibleFormattingOptions.js" defer></script>
		<script src="/scripts/noteMenuToggle.js" defer></script>

	</head>
	<body class="bg-[#e9eef1] text-lg dark:bg-[#202124] dark:text-[#d9dde0] text-gray-800">
	<%- include('partials/navBar')  %>

		<main class="grid grid-cols-4 grid-rows-1 gap-5 nodeMargins">
			<article class="xl:col-start-1 xl:col-span-1 sm:col-start-2 sm:col-span-2 col-start-1 col-span-full">
			<h1 class="nodeTitleH1">Navigate</h1>
				<%- include('./partials/bookAndChapter') %>
				<%- include('./partials/formatter') %>
			</article>

			<div class="xl:col-start-2 col-span-full row-start-2 col-start-1 xl:col-span-3 xl:row-start-1">
				<div class="nodeTitleH1 flex justify-center items-center gap-5">
					<div class="cursor-pointer text-3xl" id="prevChapterBtn1">&#x21e6;</div>
					<h1 id="bookTitle"></h1>
					<div class="cursor-pointer text-3xl" id="nextChapterBtn1">&#x21e8;</div>
				</div>

				<div class="text-lg">

					<% const noteMenuId = `createNoteMenu-${index}` %>

					<% if (loggedIn)  { %>
						<div id="vCont" class="nodeInsideDivReading px-5"></div>
					<% } else { %>
						<div id="vCont" class="nodeInsideDivReading px-5"></div>
					<% } %>

					<div class="flex justify-around gap-5 items-center nodeTitleH1Bottom mb-10">
						<div class="flex flex-row gap-5 items-center cursor-pointer" id="prevChapterBtn2">
							<div class="text-3xl" >&#x21e6;</div>
							<span>Prev</span>
						</div>
						<div class="flex flex-row gap-5 items-center cursor-pointer" id="nextChapterBtn2">
							<span>Next</span>
							<div class="text-3xl">&#x21e8;</div>
						</div>
					</div>
				</div>
			</div>

			<div class="hidden">
				<img
						class="sunDisabled cursor-pointer justify-center"
						src="../images/svgs/brightness-high.svg"
						alt="BrightModeDisabled" />
				<img
						class="sunEnabled cursor-pointer justify-center"
						src="../images/svgs/brightness-high-fill.svg"
						alt="BrightModeEnabled" />
			</div>
		</main>
	</body>
</html>
