<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link
            rel="shortcut icon"
            type="x-icon"
            href="../images/orthodoxcanonlogoNEW.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donate</title>
    <link rel="stylesheet" href="../css/output.css" />

    <script src="/scripts/darkModeToggle.js" defer></script>
    <script src="/scripts/hamburgerMenu.js" defer></script>
    <script src="/scripts/darkModeToggle.js" defer></script>
</head>

<body class="bg-[#e9eef1] text-lg dark:bg-[#202124] dark:text-[#d9dde0] text-gray-800">
<%- include('partials/navBar') %>

<main>
    <div>
        <h1 class="nodeTitleH1 nodeMargins">Thank You!!!</h1>
        <div class="nodeInsideDiv nodeMargins grid grid-rows-2 lg:grid-cols-3 text-2xl">
            <span class="my-1 col-start-2">Thank you for contributing to the project! You are helping spread the knowledge of the bible and our holy fathers.</span>
            <i class="my-1 col-start-2">"Preach the word, be ready in season and out of season; reprove, rebuke, and exhort, with complete patience and teaching."<span class="text-blue-500 dark:text-yellow-500"> -St. John Chrysostom.</span></i>
        </div>
    </div>

</main>

<div class="hidden">
    <img
            class="sunDisabled cursor-pointer justify-center"
            src="../images/svgs/brightness-high.svg"
            alt="BrightModeDisabled" />
    <img
            class="sunEnabled cursor-pointer justify-center"
            src="../images/svgs/brightness-high-fill.svg"
            alt="BrightModeEnabled" />
</div>

</body>
</html>
