<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Register</h1>

		<ul>
			<% if (typeof errors != 'undefined') {%> <% errors.forEach(error =>{ %>
			<li><%= error.message %></li>
			<%}) %> <% } %>
		</ul>

		<form action="/users/register" method="POST">
			<div>
				<input type="text" placeholder="Name" id="name" name="name" required />
			</div>
			<div>
				<input
					type="email"
					placeholder="Email"
					id="email"
					name="email"
					required />
			</div>
			<div>
				<input
					type="password"
					placeholder="Password"
					id="password"
					name="password"
					required />
			</div>
			<div>
				<input
					type="password"
					placeholder="Confirm password"
					id="passwordConf"
					name="passwordConf"
					required />
			</div>
			<div>
				<input type="submit" value="Register" />
			</div>
			<p>Have an account?<a href="/users/login">Log in here</a></p>
		</form>
	</body>
</html>
