<% var token = token %>
<% var email = email %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link
            rel="shortcut icon"
            type="x-icon"
            href="../../images/orthodoxcanonlogoNEW.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <script src="/scripts/hamburgerMenu.js" defer></script>
    <script src="/scripts/darkModeToggle.js" defer></script>
    <script src="/scripts/getEmailParam.js" defer></script>
    <link rel="stylesheet" href="../../css/output.css" />
</head>

<body class="bg-[#ffd7a9] text-lg dark:bg-[#202124] dark:text-[#d9dde0] text-[#161616]">
    <%- include('../partials/navBar') %>
    <%- include('../partials/errorHandler') %>

    <h1 class="nodeTitleH1 nodeMargins">Enter New Password</h1>
    <div class="nodeInsideDiv nodeMargins flex justify-center">

        <form action="/users/enterNewPassword?token=<%= token %>&email=<%= email %>" method="POST">

            <div class="flex justify-center flex-col">
                <input type="password" placeholder="Enter new password" name="password" class="input mb-2" required>
                <input type="password" placeholder="Confirm new password" name="confirmPass" class="input mb-2" required>
                <input type="hidden" name="email" id="emailInput">
                <input type="submit" class="input mb-2" value="Submit">
            </div>
        </form>
    </div>

<div class="hidden">
    <img
            class="sunDisabled cursor-pointer justify-center"
            src="../images/brightness-high.svg"
            alt="BrightModeDisabled" />
    <img
            class="sunEnabled cursor-pointer justify-center"
            src="../images/brightness-high-fill.svg"
            alt="BrightModeEnabled" />
</div>

</body>
</html>
