<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link
            rel="shortcut icon"
            type="x-icon"
            href="../../images/orthodoxcanonlogoNEW.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <script src="/scripts/hamburgerMenu.js" defer></script>
    <script src="/scripts/darkModeToggle.js" defer></script>
    <link rel="stylesheet" href="../../css/output.css" />
</head>

<body
        class="bg-[#e9eef1] text-lg dark:bg-[#202124] dark:text-[#d9dde0] text-gray-800">
<%- include('../partials/navBar') %>

<main>
    <h1 class="nodeTitleH1 nodeMargins">Login</h1>
    <div class="nodeInsideDiv nodeMargins flex justify-center">
        <span>We emailed you with a link to reset your password.</span>
    </div>
</main>

<div class="hidden">
    <img
            class="sunDisabled cursor-pointer justify-center"
            src="../images/brightness-high.svg"
            alt="BrightModeDisabled" />
    <img
            class="sunEnabled cursor-pointer justify-center"
            src="../images/brightness-high-fill.svg"
            alt="BrightModeEnabled" />
</div>

</body>
</html>
