<div class="nodeInsideDiv grid gap-1 grid-cols-2">
    <select id="book-list" class="p-1 mx-2 rounded-sm dark:bg-[#202124] col-start-1">
        <option value="genesis.json">
            Genesis
        </option>

        <option value="exodus.json">
            Exodus
        </option>

        <option value="leviticus.json">
            Leviticus
        </option>

        <option value="numbers.json">
            Numbers
        </option>

        <option value="deuteronomy.json">
            Deuteronomy
        </option>

        <option value="joshua.json">
            Joshua
        </option>

        <option value="judges.json">
            Judges
        </option>

        <option value="ruth.json">
            Ruth
        </option>

        <option value="1samuel.json">
            I Kingdoms (I Samuel)
        </option>

        <option value="2samuel.json">
            II Kingdoms (II Samuel)
        </option>

        <option value="1kings.json">
            III Kingdoms (I Kings)
        </option>

        <option value="2kings.json">
            IV Kingdoms (II Kings)
        </option>

        <option value="1chronicles.json">
            I Chronicles
        </option>

        <option value="2chronicles.json">
            II Chronicles
        </option>

        <option value="1ezra.json">
            I Esdras (I Ezra)
        </option>

        <option value="2ezra.json">
            II Esdras (Ezra)
        </option>

        <option value="nehemiah.json">
            Nehemiah
        </option>

        <option value="tobit.json">
            Tobit
        </option>

        <option value="judith.json">
            Judith
        </option>

        <option value="esther.json">
            Esther
        </option>

        <option value="1maccabees.json">
            I Maccabees
        </option>

        <option value="2maccabees.json">
            II Maccabees
        </option>

        <option value="3maccabees.json">
            III Maccabees
        </option>

        <option value="4maccabees.json">
            IV Maccabees
        </option>

        <option value="job.json">
            Job
        </option>

        <option value="psalms.json">
            Psalms
        </option>

        <option value="proverbs.json">
            Proverbs
        </option>

        <option value="ecclesiastes.json">
            Ecclesiastes
        </option>

        <option value="songs.json">
            Songs of Solomon
        </option>

        <option value="wisdom.json">
            Wisdom
        </option>

        <option value="sirach.json">
            Sirach
        </option>

        <option value="isaiah.json">
            Isaiah
        </option>

        <option value="jeremiah.json">
            Jeremiah
        </option>

        <option value="lamentations.json">
            Lamentations
        </option>

        <option value="epistle.json">
            Epistle of Jeremiah
        </option>

        <option value="baruch.json">
            Baruch
        </option>

        <option value="ezekiel.json">
            Ezekiel
        </option>

        <option value="daniel.json">
            Daniel
        </option>

        <option value="hosea.json">
            Hosea
        </option>

        <option value="joel.json">
            Joel
        </option>

        <option value="amos.json">
            Amos
        </option>

        <option value="obadiah.json">
            Obadiah
        </option>

        <option value="jonah.json">
            Jonah
        </option>

        <option value="micah.json">
            Micah
        </option>

        <option value="nahum.json">
            Nahum
        </option>

        <option value="habakkuk.json">
            Habakkuk
        </option>

        <option value="zephaniah.json">
            Zephaniah
        </option>

        <option value="haggai.json">
            Haggai
        </option>

        <option value="zechariah.json">
            Zechariah
        </option>

        <option value="malachi.json">
            Malachi
        </option>

        <option value="matthew.json">
            Matthew
        </option>

        <option value="mark.json">
            Mark
        </option>

        <option value="luke.json">
            Luke
        </option>

        <option value="john.json">
            John
        </option>

        <option value="acts.json">
            Acts
        </option>

        <option value="romans.json">
            Romans
        </option>

        <option value="1corinthians.json">
            I Corinthians
        </option>

        <option value="2corinthians.json">
            II Corinthians
        </option>

        <option value="galatians.json">
            Galatians
        </option>

        <option value="ephesians.json">
            Ephesians
        </option>

        <option value="philippians.json">
            Philippians
        </option>

        <option value="colossians.json">
            Colossians
        </option>

        <option value="1thessalonians.json">
            I Thessalonians
        </option>

        <option value="2thessalonians.json">
            II Thessalonians
        </option>

        <option value="1timothy.json">
            I Timothy
        </option>

        <option value="2timothy.json">
            II Timothy
        </option>

        <option value="titus.json">
            Titus
        </option>

        <option value="philemon.json">
            Philemon
        </option>

        <option value="hebrews.json">
            Hebrews
        </option>

        <option value="james.json">
            James
        </option>

        <option value="1peter.json">
            I Peter
        </option>

        <option value="2peter.json">
            II Peter
        </option>

        <option value="1john.json">
            I John
        </option>

        <option value="2john.json">
            II John
        </option>

        <option value="3john.json">
            III John
        </option>

        <option value="jude.json">
            Jude
        </option>
        <option value="revelation.json">
            Revelation
        </option>
    </select>
    <select id="chapter-list" class="p-1 mx-2 rounded-sm dark:bg-[#202124] col-start-2"></select>
</div>