<div class="text-lg">
    <h1 class="nodeTitleH1">Formatting Options</h1>
    <div class="nodeInsideDiv">
        <div class="grid gap-1">

            <button
                    id="verseBtn"
                    class="border-2 border-[#243858] bg-[#bb6963] px-1  dark:hover:bg-[#243858] hover:bg-[#243858] dark:bg-[#202124] hover:text-white">
                Verse-By-Verse
            </button>
            <button
                id="numberBtn" 
                class="border-2 border-[#243858] bg-[#bb6963] px-1  dark:hover:bg-[#243858] hover:bg-[#243858] dark:bg-[#202124] hover:text-white">
                Toggle Verse Numbers
            </button>
            <button
                    id="redLetterBtn"
                    class=" border-2 border-[#243858] bg-[#bb6963] px-1  text-red-600 dark:hover:bg-[#243858] hover:bg-[#243858] hover:text-white active:bg-[#243858] dark:bg-[#202124]">
                Red Lettering
            </button>
            <select
                    name="fontType"
                    id="fontType"
                    class="dark:bg-[#202124]  border-2 border-[#243858] bg-[#bb6963] p-1">
                <option value="">Default</option>
                <option value="Arial">Arial</option>
                <option value="Times New Roman">Times New Roman</option>
            </select>
            <select
                    name="fontSize"
                    id="fontSize"
                    class="dark:bg-[#202124]  border-2 border-[#243858] bg-[#bb6963] p-1">
                <option value="18px">Default Size</option>
                <option value="22px">Medium Size</option>
                <option value="24px">Large Size</option>
            </select>
        </div>
    </div>
</div>