<div class="text-lg">
    <h1 class="nodeTitleH1">Formatting Options</h1>
    <div class="nodeInsideDiv">
        <div class="grid gap-1">

            <button
                    id="verseBtn"
                    class="bg-gray-200 px-1 rounded-sm dark:hover:bg-blue-600 hover:bg-blue-600 dark:bg-[#202124]">
                Verse-By-Verse
            </button>
            <select
                    name="fontType"
                    id="fontType"
                    class="dark:bg-[#202124] bg-gray-200 p-1">
                <option value="">Default</option>
                <option value="Arial">Arial</option>
                <option value="Times New Roman">Times New Roman</option>
            </select>
            <select
                    name="fontSize"
                    id="fontSize"
                    class="dark:bg-[#202124] bg-gray-200 p-1">
                <option value="18px">Default Size</option>
                <option value="22px">Medium Size</option>
                <option value="24px">Large Size</option>
            </select>
        </div>
    </div>
</div>