<div class="flex justify-center">
	<div class="nodeMargins">
		<h1 class="nodeTitleH1">Features</h1>
		<div class="nodeInsideDiv mb-5 shadow-xl">
			<div class="m-5">
				<h1 class="font-bold text-2xl">The navigation bar</h1>
				<span>On the top, you will see options to see your bible, the collection of the patristic writings, and the login and signup options, when you are logged in you will see an additional option to see your account.</span>
				<hr>
				<img src="../../images/features/navBarNotLoggedIn.png" alt="" class="m-5 border-2 border-[#355488]">
				<img src="../../images/features/loggedIn.png" alt="" class="m-5 border-2 border-[#355488]">
				<h1 class="font-bold text-2xl">Bible</h1>
				<span>In the bible page, you see the navigate, formatting, and text nodes. The navigate node is used to change books and chapters. The title of the book and chapter number will be displayed in the text node. There are 2 arrows that are used to go either to the next or previous chapter. If you are on the last chapter of a book and hit forward it will automatically bring you to the next book and vice versa for going back.</span>
				<hr>
				<img src="../../images/features/bookAndChapterDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<h1 class="font-bold text-2xl">Formatting</h1>
				<span>In the formatting node, there are options to toggle verse-by-verse, red lettering, the choice of fonts, and the size of the font. These changes will be constant no matter if you go to another book or chapter, or even you go to the fathers page, you can change these formatting options on that page as well.</span>
				<hr>
				<img src="../../images/features/formattingOptionsDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<h1 class="font-bold text-2xl">Verse by Verse</h1>
				<span>This is the visual representation of toggling each verse on its own line, by default this will be <strong>OFF</strong></span>
				<hr>
				<img src="../../images/features/verseByVerseToggled.png" alt="" class="m-5 border-2 border-[#355488]">
				<h1 class="font-bold text-2xl">Red lettering</h1>
				<span>This is the visual representation of toggling the red lettering, this spans across the four gospels, acts, and revelation, by default this will be <strong>ON</strong></span>
				<hr>
				<img src="../../images/features/redLetteringToggled.png" alt="" class="m-5 border-2 border-[#355488]">
				<h1 class="font-bold text-2xl">Font changes</h1>
				<span>This is the visual representation of the changes in font size and type, there is a default, medium, and large option. For fonts, there is a default (which is your phone/computer's default font), Arial, and Times New Roman.</span>
				<hr>
				<img src="../../images/features/largeView.png" alt="" class="m-5 border-2 border-[#355488]">
				<h1 class="font-bold text-2xl">Church Fathers</h1>
				<span>This page is visually similar to the bible page but without the red lettering option. The list of fathers is sorted alphabetically. These collection of texts are formatted by punctuation so you have the ability to make specific note annotations.</span>
				<hr>
				<img src="../../images/features/churchFathersDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<h1 class="font-bold text-2xl">Your account</h1>
				<span>If you decide to sign up to Ancient Bible, you will have this page available, it will show you your name, email, your total notes taken, and your total highlights. As well as the ability to change any account details. If you sign up, you will also have the ability to toggle light and dark mode.</span>
				<hr>
				<img src="../../images/features/userSettingsDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<h1 class="font-bold text-2xl">Note-taking</h1>
				<span>You must sign up to be able to use this feature, as all the notes will be saved to your account. Click on a verse or piece of text to open this menu. In the middle is the area to type in a note, these notes. You are able to make extensive commentaries in one note but there will be a future feature that will allow you to make lengthy commentaries and dissertations</span>
				<hr>
				<img src="../../images/features/noteTakingDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<h1 class="font-bold text-2xl">Note</h1>
				<span>This is a visual representation of a note.</span>
				<hr>
				<img src="../../images/features/notePostedDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<hr>
				<h1 class="font-bold text-2xl">You're all done!</h1>
				<span class="mb-5">You have now completed the tour of the website!</span>

			</div>
		</div>
	</div>
</div>
