<div class="flex justify-center">
	<div class="nodeMargins">
		<h1 class="nodeTitleH1">Features</h1>
		<div class="nodeInsideDiv mb-5 shadow-xl">
			<div class="">
				<img src="../../images/features/navBarNotLoggedIn.png" alt="navBar when not logged in">
				<img src="../../images/features/bookAndChapterDemo.png" alt="">
				<img src="../../images/features/formattingOptionsDemo.png" alt="">
				<img src="../../images/features/verseByVerseToggled.png" alt="">
				<img src="../../images/features/redLetteringToggled.png" alt="">
				<img src="../../images/features/largeView.png" alt="">
				<img src="../../images/features/churchFathersDemo.png" alt="">
				<img src="../../images/features/userSettingsDemo.png" alt="">
				<img src="../../images/features/noteTakingDemo.png" alt="">
				<img src="../../images/features/notePostedDemo.png" alt="">
				<img src="../../images/features/moreNotes.png" alt="">
			</div>
		</div>
	</div>
</div>
