<div class="flex justify-center">
	<div class="nodeMargins">
		<h1 class="nodeTitleH1">Features</h1>
		<div class="nodeInsideDiv mb-5 shadow-xl">
			<div class="m-5">
				<img src="../../images/features/navBarNotLoggedIn.png" alt="" class="m-5 border-2 border-[#355488]">
				<span class="mx-5">this is a text</span>
				<hr class="mx-5">
				<img src="../../images/features/bookAndChapterDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<span class="mx-5">this is a text</span>
				<hr class="mx-5">
				<img src="../../images/features/formattingOptionsDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<span class="mx-5">this is a text</span>
				<hr class="mx-5">
				<img src="../../images/features/verseByVerseToggled.png" alt="" class="m-5 border-2 border-[#355488]">
				<span class="mx-5">this is a text</span>
				<hr class="mx-5">
				<img src="../../images/features/redLetteringToggled.png" alt="" class="m-5 border-2 border-[#355488]">
				<span class="mx-5">this is a text</span>
				<hr class="mx-5">
				<img src="../../images/features/largeView.png" alt="" class="m-5 border-2 border-[#355488]">
				<span class="mx-5">this is a text</span>
				<hr class="mx-5">
				<img src="../../images/features/churchFathersDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<span class="mx-5">this is a text</span>
				<hr class="mx-5">
				<img src="../../images/features/userSettingsDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<span class="mx-5">this is a text</span>
				<hr class="mx-5">
				<img src="../../images/features/noteTakingDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<span class="mx-5">this is a text</span>
				<hr class="mx-5">
				<img src="../../images/features/notePostedDemo.png" alt="" class="m-5 border-2 border-[#355488]">
				<span class="mx-5">this is a text</span>
				<hr class="mx-5">
				<img src="../../images/features/moreNotes.png" alt="" class="m-5 border-2 border-[#355488]">
				<span class="mx-5">this is a text</span>
				<hr class="mx-5">
			</div>
		</div>
	</div>
</div>
