<header class="sticky top-0 text-md sm:text-lg mb-5">
	<nav
		class="bg-[#51688e] dark:bg-[#303134] border border-[#355488] dark:border-[#474747] p-2 flex">
		<a href="/">
			<img class="w-14" src="../images/orthodoxcanonlogoNEW.png" alt="icon" />
		</a>

		<ul class="flex items-center p-1">
			<li>
				<a
					class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] p-2 mx-1 rounded-md"
					href="/"
					>Home</a
				>
			</li>
			<li>
				<a
					class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] p-2 mx-1 rounded-md"
					href="/users/bible"
					>Bible</a
				>
			</li>
			<li>
				<a
					class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] p-2 mx-1 rounded-md"
					href="/users/fathers"
					>Fathers</a
				>
			</li>
		</ul>

		<ul class="flex items-center p-1 grow justify-end">
			<li
				class="text-white duration-150 hover:bg-[#2e3e58] dark:hover:dark:bg-[#202124] py-1 px-2 mx-1 rounded-md">
				<% if (loggedIn) { %>
				<a href="/users/logout">Logout</a>
				<% } else { %>
				<a href="/users/login">Login or Sign Up</a>
				<% } %>
			</li>

			<li>
				<img
					class="sunDisabled cursor-pointer justify-center"
					src="../images/brightness-high.svg"
					alt="BrightModeDisabled" />
			</li>
			<li>
				<img
					class="sunEnabled cursor-pointer justify-center"
					src="../images/brightness-high-fill.svg"
					alt="BrightModeEnabled" />
			</li>
		</ul>
	</nav>
</header>
