<div class="nodeMargins mt-2 hidden relative" id="<%= noteMenuId %>">
	<div>
		<div class="noteNodeTitleH1">
			<div class="flex justify-between align-middle gap-1">
				<span>Create Note</span>
				<button onclick="toggleNoteMenu(`<%= noteMenuId %>`)">X</button>
			</div>
		</div>
		<div class="noteNodeInsideDiv">
			<form action="/users/bible/action/highlight" method="POST">
				<span class="text-yellow-600 flex justify-center">Highlight Verse</span>
				<div class="m-2 grid gap-2 grid-cols-6">
					<input type="hidden" name="verse_id" value="<%= verse_id %>" />
					<input type="hidden" name="highlight_color" id="userHighlights" value="bg-yellow-400 dark:text-black"/>

					<button type="submit" class="bg-yellow-400 p-4 text-yellow-400 border border-yellow-500"></button>
				</div>
			</form>

			<form action="/users/bible/action/note" method="POST" class="grid gap-4">
				<label for="noteText"></label>
				<textarea
					type="text"
					id="noteText"
					name="noteText"
					placeholder="Insert text here."
					class="bg-yellow-200 border border-yellow-600 resize-none p-1 m-1 h-[120px] placeholder:text-yellow-600"
					required></textarea>

				<input type="hidden" name="verse_id" value="<%= verse_id %>" />

				<input
					type="submit"
					value="Post Note"
					class="p-1 m-1 bg-gray-100 border border-gray-300 rounded-md active:bg-gray-200 dark:text-black" />
			</form>
		</div>
	</div>
</div>
