<div class="flex justify-center">
	<div class="nodeMargins">
		<h1 class="nodeTitleH1">What's New to Ancient Bible?</h1>
		<div class="nodeInsideDiv mb-5 shadow-xl">
			<div>
				<ul>

					<li>AncientBible.org (release v1.0.0) 7/12/24</li>
					<li>
						++ First release version of the website. You can take notes and
						highlight verses in the bible, stay tuned for church father
						note-taking, this feature is still in the works.
					</li>
					<li>
						+ You can now contact me in the about page.
					</li>
					<li>
						+ More info on the translations in the about page.
					</li>

					<br />

					<li>AncientBible.org (beta v1.3) 5/6/24</li>
					<li>
						+ You can now make an account on this website, stay tuned for the
						ability to make notes and highlights on your account.
					</li>
					<li>+ Renamed OrthodoxCanon.org to Ancient Bible.</li>
					<li>
						- Website no longer runs on my personal machine, now runs on my
						server, stay tuned for revamped bible and church fathers.
					</li>
					<br />

					<li>Orthodox Canon.org (beta v1.2) 3/31/24</li>
					<li>
						You can now close your tab, and have the book where you left off
						loaded back.
					</li>
					<br />

					<li>Orthodox Canon.org (beta v1.11) 3/23/24</li>
					<li>This website will go on hiatus for a while, stay tuned!</li>
					<br />

					<li>Orthodox Canon.org (beta v1.1) 3/2/24</li>
					<li>
						+ New translation (2012 Brenton Septuigant and Byzantine text for
						New Testament.)
					</li>
					<li class="text-red-600 dark:text-red-500">+ Red Lettering added.</li>
					<li>+ Improvements to hover highlights.</li>
					<br />

					<li>Orthodox Canon.org (beta v1.0) 2/3/2024</li>
					<li>+ Added a toggle to dark mode.</li>
					<li>+ Added a small highlight when hovering over the verses.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
